[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=HeartRate
Exec=invoker --single-instance --type=e /opt/heartrate/bin/heartrate
Icon=/usr/share/icons/hicolor/64x64/apps/heartrate.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
